<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Memopi</title>

        <link id="favicon" rel="icon" type="image/x-icon" href="/memopi_html/static/favicon.ico">
        <link href="static/styles.css" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script type="module">
            import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

            createApp({
                data() {
                    return {
                        lvl: 0,
                        content: [
                            {lvl:1, cont:['carpet', 'ковер', 'тигр делает свой ковер из карпов']},
                            {lvl:2, cont:['castle', 'замок', 'ежик строит замок из кастрюль']},
                            {lvl:3, cont:['look', 'смотреть', 'мышка смотрит на лук']},
                            {lvl:4, cont:['smell', 'нюхать', 'ежик подозрительно нюхает мел. Мел не пахнет червями']},
                            {lvl:5, cont:['shark', 'акула', 'тигр шаркает ногой надеясь поймать акулу']},
                            {lvl:6, cont:['gather', 'собирать', 'мышка осторожно собирает газы из вулканов. для воздушных шариков и алхимических целей. очень внимательно, чтобы не перепутать вулкан с костром и жареной рыбой']},
                            {lvl:7, cont:['grass', 'трава', 'ежик уже куда-то спрятался. а куда же мне спрятаться? или в грязь или в грас']},
                            {lvl:8, cont:['pillow', 'подушка', 'у ежика рядом с подушкой пила и кружка']},
                            {lvl:9, cont:['brick', 'кирпич', 'Ежик запускает кирпичи по лестнице. Брик, брик, бряк']},
                            {lvl:10, cont:['berry', 'ягода', 'Ежик, что это? Мышка, бери это']},
                            {lvl:11, cont:['gem', 'драгоценный камень', 'Мышка, что это? Ёжик, среди камней драгоценно сияяет джем. Тигр, Мышка говорит что мы не каменный уголь нашли, а джем. А хлеб то мы взяли для бутербродов?']},
                            {lvl:12, cont:['tee', 'чай', 'Часы у Мышки тикают "тик, так, тик, так". На счёт "ти" мышка в чашку кладёт чай. На счёт "так", Ёжик поступает так... Кстати, Ёжик, а ты случайно не знаешь куда делся червяк с крючка тигровой удочки?']},
                            {lvl:13, cont:['fork', 'вилка', 'Ёжик шёл по дороге и нашёл форк, теперь он сможет сделать много ворк']},
                            {lvl:14, cont:['work', 'работа', 'У Ёжика теперь есть вилка. На ней можно засушить грибы. А потом её дам тигру как держатель для мишени. Тигр будет стрелять в яблочко, а меня угостит вкусными червяками. Предстоит много ворк.']},
                            {lvl:15, cont:['yes', 'да', 'Мышка спрашивает: там Тигр рыбу ест? Ёжик отвечает: Ес!']},
                            {lvl:16, cont:['cucumber', 'огурец', 'ку-ку-ку-ку. кукумбер']},
                            {lvl:17, cont:['pen', 'ручка', 'Ну вот и спрятали клад. Осталось лишь крестик нарисовать. Ёжик, подай мне пожалуйста пен']},
                            {lvl:18, cont:['sock', 'носок', 'Крыска говорит, что Тигр сильно увлёкcя и ловит рыбу уже из пруда. Так он скоро совсем намочит ноги. Ёжик, подай пожалуйста сок']},
                            {lvl:19, cont:['ship', 'корабль', 'Друзья, что вы там видите в подзорную трубу? Шип']},
                        ]
                    }
                },
                methods: {
                    toLvl(lvl) {
                        this.lvl = lvl;
                    }
                }
            }).mount('#app')
        </script>
    </head>

    <body class="bg-cfe text-light">
        <div id="app">
            <template v-if="!lvl">
                <div class="text-center my-5 mx-5">
                    <div class="text-center my-5 mx-5">
                        <div class="container">
                            <div class="row">
                                <template v-for="item in content" :key="item.lvl">
                                    <span class="col-lg-2 col-md-4 col-6 item">
                                        <span class="btn btn-primary" class="mls" @click="toLvl(item.lvl)">{{item.cont[0]}}</span>
                                        <span @click="toLvl(item.lvl)">
                                            <img class="preview" v-bind:src="'/memopi_html/static/words/previews/' + item.lvl + '.png'">
                                        </span>
                                    </span>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="text-center my-5 mx-5">
                    <div class="text-center my-5 mx-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <audio controls>
                                    <source src="/memopi_html/static/audio/{{lvl}}_en.mp3"/>
                                    </audio>
                                </div>
                                <div class="col-sm">
                                    <audio controls>
                                    <source src="/memopi_html/static/audio/{{lvl}}_ru.mp3"/>
                                    </audio>
                                </div>
                                <div class="col-sm">
                                    <audio controls>
                                    <source src="/memopi_html/static/audio/{{lvl}}_legend.mp3"/>
                                    </audio>
                                </div>
                            </div>
                            <div class="row">
                                <img class="word-legend img-fluid" src="/memopi_html/static/words/{{lvl}}.png" alt="">
                            </div>
                        </div>

                        <template v-if="lvl==1">
                            <span class="btn btn-secondary">prev</span>
                        </template>
                        <template v-else>
                            <span class="btn btn-primary" @click="toLvl(lvl-1)">prev</span>
                        </template>
                        <span class="btn btn-primary mlm mrm" @click="toLvl(0)">home</span>
                        <template v-if="lvl!=19">
                            <span class="btn btn-primary" @click="toLvl(lvl+1)">next</span>
                        </template>
                        <template v-else>
                            <span class="btn btn-secondary">next</span>
                        </template>
                    </div>
                </div>
            </template>
        </div>
    </body>
</html>
